@import 'includes';

#ui-3d {

    $lat-width: 20%;

    .controls-direction {

        @extend .col-md-2;
        @extend .clearfix;
        padding: 12px;
        height: 100%;

        & > div {

            position: relative;
            border: 1px solid $gray-light;

            .lat, .long {
                top: 0;
                text-align: center;
                vertical-align: middle;
                height: 100%;
            }

            .lat {

                position: absolute;
                bottom: 0;
                width: $lat-width;

                @extend .fa;

                &:first-child {
                    left: 0;
                    @extend .fa-chevron-left;
                }
                &:last-child {
                    right: 0;
                    @extend .fa-chevron-right;
                }
            }

            .long {

                position: relative;
                left: $lat-width;
                width: 60%;
                border-left: 1px solid $gray-light;
                border-right: 1px solid $gray-light;

                @extend .fa;

                div {
                    margin: 0;
                    padding: 0;
                    &:first-child {
                        @extend .fa-chevron-up;
                        border-bottom: 1px solid $gray-light;
                    }
                    &:last-child {
                        @extend .fa-chevron-down;
                    }
                }
            }
        }

    }

}
